.full-resume-area{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #F4FEFE;
    padding: 100px 0px;
    font-family: 'Libre Baskerville', serif;
}

.inner-full-resume-area h2{
    padding: 20px 0px;
    color: #374B5C;
    position: relative;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: bold;
}
.inner-full-resume-area h2::after{
    position: absolute;
    content: '';
    background: #00DBD0;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 3px;
}

.download-area{
    text-align: center;
    padding: 50px 0px;
    font-size: 18px;
}
.download-area a{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background: #00DBD0;
    color: #fff;
}
.cart-area{
    padding: 25px 10px;
    margin: 10px;
    border: 1px dashed #00DBD0;
    border-radius: 10px;
}
.cart-area ul li{
   text-align: left;
   font-size: 18px;
}
.cart-area h3{
    text-align: left;
    margin: 10px 0px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
}
.cart-area p{
   text-align: left;
   font-size: 18px;
}
.cart-area h4{
    padding: 10px;
    text-align: left;
    font-size: 30px;
}
.cart-area h6{
    padding:0px 10px;
    text-align: left;
    font-size: 18px;
}