.project-full-area{
    font-family: 'Libre Baskerville', serif;
}


.card-area{
    border: 1px dashed #00DBD0;
    color: #374B5C;
    border-radius: 20px;
}
.card-area img{
    border-radius: 10px 10px 0px 0px;
}
.card-area:hover{
    background: #00DBD0;
    color: #fff;
}
.card-area p{
    font-size: 18px;
    padding: 15px;
    text-align: justify;
}
.card-area h3{
    font-size: 35px;
    font-weight: bold;
}
.card-area ul{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.card-area ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
}
.card-area ul li a{
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid #00DBD0;
    border-radius: 5px;
    color: #374B5C;
}
.card-area:hover ul li a{
    border: 1px solid #fff;
    color: #fff;
}


