.footer-area{
    background-image: url(../image/Group\ 229.png);
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

.footer-area li{
    padding-bottom: 10px;
    color: white;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #6ACECE ;
    color:white;
}